[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=angular-assignment
Exec=sh -c "fuser -k 4200/tcp; sudo npm start --prefix  ~/GeoStack-Workshop/Geostack-Workshop-Content/Part-4-Data-visualization/Sourcecode/Assignment/map-viewer/ "
Name=angular-assignment
Icon=gnome-panel-launcher
