[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=angular-openlayers-assignment
Exec=sh -c "atom ~/Geostack-Workshop-Content/Part-4-Data-visualization/Sourcecode/Assignment/map-viewer/src/app/pages/map.component.ts"
Name=angular-openlayers-assignment
Icon=gnome-panel-launcher
